# Compiler files
cache/
contracts-out/

# Ignores development broadcast logs
!/broadcast
/broadcast/*/31337/
/broadcast/**/dry-run/

# Docs
docs/

# Dotenv file
.env
.vscode

/server/myenv
/server/__pycache__
node_modules

